<header class="title">{{title}}</header>
<ul class="navi">
    <li><a href="/">HomePage</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/help">help</a></li>
    <li><a href="/weather">weather</a></li>
</ul>
